body{
    background-image: linear-gradient(to right, lightpink, rgb(170,240,209));
}
.jumbotron{
    background-image: linear-gradient(to right, lightpink, rgb(170,240,209));
}
h1{
    text-align: center;
    font-family: 'Langar', cursive;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    color: black;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    letter-spacing: 6px;
}
.navbar-brand{
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right, lightpink, rgb(170,240,209));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projects{
    text-align: center;
}
.proj-card{
    min-height: 400px;
    width: 18rem;
}
.container{
    display: block;
}
.contact-form{
    max-width: 600px;
}
.contact-greet {
  text-align: center;
}
textarea {
    resize: none;
    height: 120px;
    width: 400px;
}
.submit{
    justify-content: center;
}